.autocomplete-location {
	color: black;
	font-size: smaller;
	opacity: 0.8;
}
.autocomplete-result {
	border-bottom: solid 1px #eee;
	color: black;
	cursor: pointer;
	padding: 12px 15px;
}
.autocomplete-result:last-child {
	border-bottom-width: 0;
	color: black;
}
.autocomplete-results {
	background: white;
	border: solid 1px #ddd;
	border-bottom-color: #ccc;
	border-top-width: 0;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	color: black;
	font-size: 13px;
	left: 0;
	position: absolute;
	top: 100%;
	z-index: 1;
}
.autocomplete-wrapper {
	position: relative;
}
body {
	background: url("../images/aircraft-airplane-aviation-333525-a.jpg");
	background-attachment: fixed;
	background-position: auto;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
	padding: 0px;
}
button {
	float: right;
}
.card {
	background: rgb(255, 204, 64, 0.3);
	border-radius: 5px;
	color: black;
	padding: 5px;
}
.card-header {
	color: white;
}
.control-label {
	display: block;
}
#event-display {
	background-color: whitesmoke;
	color: black;
}
#flight-results,
#event-results {
	background-color: rgb(177, 175, 172);
	color: black;
}
#flight-options {
	border: goldenrod;
	border-radius: 5px;
	color: whitesmoke;
	text-align: center;
}
footer {
	color: white;
	text-align: center;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.form-group {
	margin-bottom: 20px;
}
h1 {
	color: whitesmoke;
	font-family: "Alfa Slab One", cursive;
	text-align: center;
}
h3 {
	color: white;
}
.logo {
	border-radius: 40px;
}
.logotext{
	color:purple;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.maincontainer {
	background-color: rgb(255, 204, 64, 0.7);
	border-radius: 10px;
}
.navbar-brand img {
	max-width: 50px;
}
.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {
	background: rgb(0, 89, 255, 0.1);
	color: lightblue;
}
.navbar-inverse .mavbar-nav li a {
	color: grey;
}
.select-event:active {
	background-color: blue;
}
.select-flight:active {
	background-color: blue;
}